In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

%matplotlib inline

In [2]:
df = pd.read_csv("./dataset/churn.csv")

In [3]:
df.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           3333 non-null   object
 1   Account Length  3333 non-null   int64
 2   Area Code       3333 non-null   int64
 3   Phone           3333 non-null   object
 4   Int'l Plan      3333 non-null   object
 5   VMail Plan      3333 non-null   object
 6   VMail Message   3333 non-null   int64
 7   Day Mins        3333 non-null   float64
 8   Day Calls       3333 non-null   int64
 9   Day Charge      3333 non-null   float64
 10  Eve Mins        3333 non-null   float64
 11  Eve Calls       3333 non-null   int64
 12  Eve Charge      3333 non-null   float64
 13  Night Mins      3333 non-null   float64
 14  Night Calls     3333 non-null   int64
 15  Night Charge    3333 non-null   float64
 16  Intl Mins       3333 non-null   float64
 17  Intl Calls      3333 non-null   int64
 18  Intl Charge     3333 non-null   float64
 19  CustServ Calls  3333 non-null   int64
 20  Churn?          3333 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 546.9+ KB

In [5]:
df.describe()

,Account Length,Area Code,VMail Message,Day Mins,Day Calls,Day Charge,Eve Mins,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls
count,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000,3333.000000
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000

In [6]:
targetMatrix = df['Churn?']

In [7]:
targetMatrix.value_counts()

False.    2850
True.      483
Name: Churn?, dtype: int64

In [8]:
df.columns

Index(['State', 'Account Length', 'Area Code', 'Phone', 'Int'l Plan',
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls', 'Day Charge',
       'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins', 'Night Calls',
       'Night Charge', 'Intl Mins', 'Intl Calls', 'Intl Charge',
       'CustServ Calls', 'Churn?'],
      dtype='object')

In [9]:
featureMatrix = df.drop(['Phone','Churn?'],axis=1)

In [10]:
categoricalFeatures = featureMatrix.select_dtypes(include=[object])

In [11]:
categoricalFeatures

     State Int'l Plan VMail Plan
0       KS         no        yes
1       OH         no        yes
2       NJ         no         no
3       OH        yes         no
4       OK        yes         no
...    ...        ...        ...
3328    AZ         no        yes
3329    WV         no         no
3330    RI         no         no
3331    CT        yes         no
3332    TN         no        yes

[3333 rows x 3 columns]

In [12]:
featureMatrix[['Int\'l Plan','VMail Plan']] = featureMatrix[['Int\'l Plan','VMail Plan'] ]== 'yes'

In [15]:
print('Churn data size before one hot encoding',featureMatrix.shape)
print('No of unique states',len(featureMatrix['State'].unique()))

#Give the feature and columns to one hot encode in 'columns' and column rename prefix in 'prefix'
churn_dumm=pd.get_dummies(featureMatrix, columns=["State"], prefix=["State"])
print('Churn data size after one hot encoding',churn_dumm.shape)


churnMatrix = churn_dumm.values.astype(np.float)

Churn data size before one hot encoding (3333, 19)
No of unique states 51
Churn data size after one hot encoding (3333, 69)

In [16]:
from sklearn.impute import SimpleImputer
#Missing values replaced by mean
imp=SimpleImputer(missing_values=np.nan,strategy='mean',fill_value=None,verbose=0,copy=True)
#Fit to data, then transform it.
churn_matrix=imp.fit_transform(churn_matrix)

array([[128., 415.,   0., ...,   0.,   0.,   0.],
       [107., 415.,   0., ...,   0.,   0.,   0.],
       [137., 415.,   0., ...,   0.,   0.,   0.],
       ...,
       [ 28., 510.,   0., ...,   0.,   0.,   0.],
       [184., 510.,   1., ...,   0.,   0.,   0.],
       [ 74., 415.,   0., ...,   0.,   0.,   0.]])

In [ ]:
from sklearn.preprocessing import StandardScaler
#Standardize the data by removing the mean and scaling to unit variance
scaler = StandardScaler()
#Fit to data, then transform it.
churn_matrix = scaler.fit_transform(churn_matrix)

In [81]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

oheFit = ohe.fit(featureMatrix['State'].values.reshape(-1,1))

oheResult = oheFit.transform(featureMatrix['State'].values.reshape(-1,1)).toarray()

In [80]:
oheFit.categories_

[array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA',
        'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
        'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
        'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
        'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY'], dtype=object)]

In [83]:
featureMatrix = featureMatrix.drop('State',axis= 1)